In [1]:
import pandas as pd
import psycopg2

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from config import pgkey

pgkey

'poStgres#1'

In [2]:
con_string = f"postgresql+psycopg2://postgres:{pgkey}@localhost:5432/SQLChallenge_DB"
engine = create_engine(con_string)
connection = engine.connect()

'postgresql+psycopg2://postgres:poStgres#1@localhost:5432/SQLChallenge_DB'

In [5]:
departments = pd.read_sql('select * from department', connection)
departments

     id           dept_name
0  d001           Marketing
1  d002             Finance
2  d003     Human Resources
3  d004          Production
4  d005         Development
5  d006  Quality Management
6  d007               Sales
7  d008            Research
8  d009    Customer Service